/* Контейнер блока с карточками секции techniques */
.cards {
  width: 920px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  /* Способ устранения проблемы появляющегося отступа между строчно-блочными элементами */
  font-size: 0;
}
