.page {
  min-width: 320px;
  max-width: 1600px;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 100px;
  margin: 0 auto;
}

@media screen and (max-width: 896px) {
  .page {
    gap: 70px;
  }
}
@media screen and (max-width: 450px) {
  .page {
    gap: 50px;
  }
}