.footer__column-link {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.66;
  text-decoration: none;
  color: #fff;
}
.footer__column-link:hover {
  opacity: 0.6;
  transition: opacity 1.5s ease 0.1s;
}