/* Заголовок блока feynman */
.feynman__title {
  width: 648px;
  padding-top: 100px;
  margin: 0 auto;
  box-sizing: border-box;
  font-size: 120px;
  font-weight: 600;
  line-height: 1.15;
  text-align: center;
}
