
/* Ссылки блока feynman */
.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  font-size: 36px;
  font-weight: normal;
  line-height: 51px;
  text-decoration: none;
  color: #2f80ed;
}
.feynman__link:hover {
  opacity: 0.6;
  transition: all 1.5s ease 0.1s;
}