.footer__columns {
  width: 90%;
  min-height: 350px;
  margin: 0 auto;
  padding: 60px 0 40px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 650px) {
  .footer__columns {
    flex-direction: column;
    padding-top: 40px;
  }
}