.two-columns__span-accent {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.41;
}

@media screen and (max-width: 896px) {
  .two-columns__span-accent {
    font-size: 20px;
  }
}
@media screen and (max-width: 650px) {
  .two-columns__span-accent {
    font-size: 16px;
  }
}