.khan__quote-author-subline {
  margin: 10px 0 0;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.15;
}

@media screen and (max-width: 896px) {
  .khan__quote-author-subline {
    font-size: 20px;
  }
}
@media screen and (max-width: 650px) {
  .khan__quote-author-subline {
    font-size: 18px;
  }
}
@media screen and (max-width: 450px) {
  .khan__quote-author-subline {
    font-size: 16px;
  }
}