.video__iframe {
  display: block;
  width: 515px;
  height: 316px;
  border: 0;
}

@media screen and (max-width: 1152px) {
  .video__iframe {
    width: 470px;
    height: 288px;
  }
}
@media screen and (max-width: 980px) {
  .video__iframe {
    width: 430px;
    height: 263px;
  }
}
@media screen and (max-width: 450px) {
  .video__iframe {
    width: 300px;
    height: 184px;
  }
}