/* Стили оформления параграфов правой колонки блока two-columns */
.two-columns__paragraph {
  margin: 0 0 30px;
  font-size: 24px;
  font-weight: normal;
  line-height: 34px;
}
.two-columns__paragraph:last-of-type {
  margin-bottom: 0;
}
