.two-columns__paragraph {
  width: 100%;
  margin: 0 0 30px;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.41;
}
.two-columns__paragraph:last-of-type {
  margin-bottom: 0;
}

@media screen and (max-width: 896px) {
  .two-columns__paragraph {
    margin-bottom: 25px;
    font-size: 20px;
  }
}
@media screen and (max-width: 650px) {
  .two-columns__paragraph {
    font-size: 16px;
  }
}
@media screen and (max-width: 450px) {
  .two-columns__paragraph {
    margin-bottom: 15px;
  }
}