/* Подзаголовок блока header */
.header__subtitle {
  position: absolute;
  bottom: 30px;
  left: 64px;
  width: 388px;
  margin: 0;
  font-size: 18px;
  font-weight: normal;
  line-height: 25px;
  z-index: 3;
}
