.khan__title {
  margin: 0;
  font-size: 60px;
  font-weight: 600;
  line-height: 1.15;
}

@media screen and (max-width: 896px) {
  .khan__title {
    font-size: 52px;
  }
}
@media screen and (max-width: 650px) {
  .khan__title {
    font-size: 42px;
  }
}
@media screen and (max-width: 450px) {
  .khan__title {
    font-size: 30px;
  }
}