.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: "Helvetica Neue", "Arial", sans-serif;
}

/* Шапка */
.header {
  padding: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  /* выше установили ограничения для секции */
}

.header__title {
  width: 730px;
  margin: 0 0 0 64px;
  font-size: 102px;
  font-weight: 600;
  line-height: 96px;
  z-index: 3;
  box-sizing: border-box;
}

.header__subtitle {
  position: absolute;
  bottom: 30px;
  left: 64px;
  width: 388px;
  margin: 0;
  font-size: 18px;
  font-weight: normal;
  line-height: 25px;
  z-index: 3;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
}

.header__main-illustration {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 765px;
  height: 608px;
  z-index: 2;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  position: absolute;
  top: 64px;
  right: 0;
  width: 568px;
  height: 568px;
  background-color: #2f80ed;
  z-index: 1;
}

/* Логотип */
.logo {
  width: 228px;
  height: 32px;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 3;
  background-image: url(../images/logo_place_header.svg);
}

.logo_place_footer {
  background-image: url(../images/logo_place_footer.svg);
}

/* Секция description */
.description {
  display: flex;
  justify-content: center;
  padding-top: 100px;
  box-sizing: border-box;
}

/* Блок с двумя колонками секции description */
.two-columns {
  display: flex;
  justify-content: space-between;
  align-items: start;
  width: 80%;
}

.two-columns__brief {
  margin: 0;
  width: 175px;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
  color: #2f80ed;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  margin: 0 0 30px;
  font-size: 24px;
  font-weight: normal;
  line-height: 34px;
  box-sizing: border-box;
}

.two-columns__paragraph:last-of-type {
  margin-bottom: 0;
}

.two-columns__span-accent {
  font-size: 24px;
  font-weight: 600;
  line-height: 34px;
}

/* Секция digits */
.digits {
  padding: 100px 0;
  box-sizing: border-box;
}

/* Заголовки для секций digits и kaufman */
.section-title {
  width: 60%;
  margin: 0 auto;
  font-size: 60px;
  font-weight: 600;
  line-height: 1.15;
  text-align: center;
}

.section-title_theme_dark {
  color: #fff;
}

/* Подзаголовки для секций digits и kaufman */
.section-subtitle {
  width: 60%;
  margin: 20px auto 0;
  box-sizing: border-box;
  font-size: 24px;
  font-weight: normal;
  line-height: 34px;
  text-align: center;
}

.section-subtitle_theme_dark {
  color: #fff;
}

/* Таблица с flex-элементами для секций digits и kaufman */
.table {
  width: 1100px;
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
  box-sizing: border-box;
}

.table__heading {
  margin: 0;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.15;
}

.table__text {
  margin: 20px 0 0;
  box-sizing: border-box;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
  box-sizing: border-box;
}

/* Секция feynman */
.feynman {
  position: relative;
  min-height: 890px;
  background: url(../images/feynman.png) bottom left/auto no-repeat, #f2f2f2;
}

.feynman__title {
  width: 648px;
  padding-top: 100px;
  margin: 0 auto;
  box-sizing: border-box;
  font-size: 120px;
  font-weight: 600;
  line-height: 1.15;
  text-align: center;
}

.feynman__subtitle {
  margin: 70px auto 0;
  box-sizing: border-box;
  font-size: 36px;
  font-weight: normal;
  line-height: 51px;
  text-align: center;
}

.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  font-size: 36px;
  font-weight: normal;
  line-height: 51px;
  text-decoration: none;
  color: #2f80ed;
}

/* Секция kaufman */
.kaufman {
  position: relative;
  overflow: hidden;
  padding: 90px 0;
  box-sizing: border-box;
  background-color: #1f1f1f;
  z-index: -2;
}

.kaufman__traingle {
  width: 877px;
  height: 877px;
  position: absolute;
  top: 0;
  right: -210px;
  z-index: -1;
  background: url(../images/kaufman-triangle.svg) top right/cover no-repeat;
}

/* Подвал */
.footer {
  min-height: 350px;
  background-color: #1f1f1f;
}

.footer__columns {
  width: 90%;
  min-height: 350px;
  margin: 0 auto;
  padding: 60px 0 40px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__author {
  margin: 18px 0;
  box-sizing: border-box;
  font-size: 18px;
  font-weight: normal;
  line-height: 25px;
  color: #fff;
}

.footer__column-heading {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
  color: #fff;
}

.footer__column-links {
  margin: 20px 0 16px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.footer__column-link {
  font-size: 18px;
  font-weight: normal;
  line-height: 30px;
  text-decoration: none;
  color: #fff;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}
