.khan__buy-link {
  vertical-align: top;
  font-size: 30px;
  font-weight: 400;
  line-height: 1.4;
  text-decoration: none;
  color: #2f80ed;
}
.khan__buy-link:hover {
  opacity: 0.6;
  transition: opacity 1.5s ease 0.1s;
}

@media screen and (max-width: 896px) {
  .khan__buy-link {
    font-size: 20px;
  }
}
@media screen and (max-width: 650px) {
  .khan__buy-link {
    font-size: 18px;
  }
}
@media screen and (max-width: 450px) {
  .khan__buy-link {
    font-size: 16px;
  }
}